<tr>
  <th scope="row"><%= dom_id expense %></th>
  <td><%= expense.description %></td>
  <td><%= expense.spent_on %></td>
  <td><%= expense.amount %></td>
  <td><%= link_to "Show", expense %></td>
  <td><%= link_to "Edit", edit_expense_path(expense) %></td>
</tr>
