<p style="color: green"><%= notice %></p>

<div class="bg-light p-5 rounded-lg m-3">
  <p class="lead"><b>Description:</b> <%= @expense.description %></p>
  <p class="lead"><b>Date:</b> <%= @expense.spent_on %></p>
  <p class="lead"><b>Amount:</b> <%= @expense.amount %></p>
  <hr class="my-4">
  <%= link_to "Edit this expense", edit_expense_path(@expense), class:"btn btn-primary btn-lg" %>
  <%= link_to "Back to expenses", expenses_path, class:"btn btn-secondary btn-lg" %>
</div>

<div>
  <%= link_to "Edit this expense", edit_expense_path(@expense) %> |
  <%= link_to "Back to expenses", expenses_path %>

  <%= button_to "Destroy this expense", @expense, method: :delete, class:"btn btn-danger" %>
</div>
